<div class="row text-center" *ngIf="headerInfo" style="font-size: 2em; margin-bottom: 20px">
    <div class="col-sm-3">
        <div class="text-primary">
            <div style="font-size: 20px; "><strong>BEST BLOCK</strong></div>
            <div id="last-block-stats" style="white-space: nowrap;">
                <i id="last-block-icon" class="fas fa-cube" style="font-size: 1.5em"></i>
                #{{headerInfo.height | number}}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-primary">
            <div style="font-size: 20px; "><strong>LAST BLOCK</strong></div>
            <i class="fa fa-hourglass-end spin"></i>
            {{secondsSinceLastBlock}} s ago
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-primary">
            <div style="font-size: 20px; "><strong>TX COUNT</strong></div>
            <i class="fas fa-handshake"></i>
            {{headerInfo.transactionCount}}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-primary">
            <div style="font-size: 20px; "><strong>SIZE</strong></div>
            <i class="fas fa-file"></i>
            {{headerInfo.size}} KB
        </div>
    </div>
    <!-- <div class="col-sm-2">
        <div class="text-primary">
            <div style="font-size: 20px; white-space: nowrap;">
                <strong>CONSENSUS <br/> NODES</strong></div>
            <i class="fas fa-desktop"></i>
             {{rpcEnabled}} 
        </div>
    </div>
    <div class="col-sm-2">
        <div class="text-primary">
            <div style="font-size: 20px; white-space: nowrap;">
                <strong>CANDIDATE <br/> NODES</strong></div>
            <i class="fas fa-desktop"></i>
             {{rpcEnabled}} 
        </div>
    </div> -->
</div>