<div class="row no-margin padding-10">
    <div class="row no-margin padding-5 panel-body">
        <div class="col-md-12 text-center" style="padding-top: 20px !important">
            <h3 class="bold text-grey">
                CONSENSUS NODES
            </h3>
        </div>
        <div *ngIf="nodes && nodes.length > 0">
            <div class="panel-body noradius padding-10" *ngFor="let node of nodes">
                <div class="row no-padding" *ngIf="node.Active" style="padding-right: 20px !important;">
                    <div class="col-md-6">
                        <figure class="margin-bottom-10">
                            <img class="img-responsive" src="{{getLogo(node.Info.Logo)}}" alt="{{node.Info.Organization}}">
                        </figure>
                        <h6 class="progress-head" style="margin-bottom: 10px;">Votes: <span>{{node.Votes}}</span></h6>
                        <p *ngIf="node.Info?.SocialAccount">
                            <span class="padding-2" *ngFor="let socialLink of getSocialLinks(node.Info.SocialAccount)">
                                <a href="{{socialLink.value}}" target="blank">
                                    <i class="fab fa-{{socialLink.type}}" style="font-size: 2em; margin-right: 5px;"></i>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-black" style="margin-bottom: 15px !important">{{node.Info.Organization}}</h3>
                        <p class="size-12" style=" text-align: justify; text-justify: inter-word; margin-bottom: 15px">{{node.Info.Summary}}</p>
                    </div>
                    <div class="col-md-12">
                        <strong>{{node.PublicKey}}</strong>
                        <hr class="half-margins" style="margin-top: 10px; margin-bottom: 10px">
                    </div>
                </div>
            </div>
        </div>
        <app-loader *ngIf="!(nodes && nodes.length > 0)"></app-loader>
    </div>
</div>