<div class="row no-margin">
    <div class="col-md-8 row no-margin no-padding">
        <div class="col-md-12 text-center">
            <h3 class="bold">NODES</h3>
        </div>
        <div class="col-md-12 row no-margin panel-body padding-10" *ngIf="pageResults">
            <div class="col-md-12 col-sm-12 col-xs-12 row no-margin padding-5 node-list-tile" *ngFor="let node of pageResults.items | paginate: { id: 'server', itemsPerPage: pageResults.metaData.pageSize, currentPage: pageResults.metaData.pageNumber, totalItems: pageResults.metaData.totalItemCount }">
                <div class="col-lg-12 row no-margin padding-5 border-box-shadow">
                    <div class="col-md-1 col-sm-4 col-xs-5 custom-vcenter padding-10">
                        <img class="img img-responsive" src="assets/icons/tsvg/flag-{{node.locale}}.svg" />
                    </div>
                    <div class="col-md-11 col-sm-8 col-xs-7 row no-margin padding-5">
                        <a href="" routerLink="/node/{{node.id}}" routerLinkActive="router-link-active">
                            <div class="col-md-12">
                                <h4 class="bold">{{node.url}}</h4>
                            </div>
                            <div class="col-md-12 no-margin padding-5 row" *ngIf="node.blockCount">
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <span class="stat">
                                        <i class="fas fa-code-branch"></i> {{node.version}}
                                    </span>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <span class="stat">
                                        <i class="fas fa-cube"></i> #{{node.blockCount}}
                                        <span *ngIf="bestBlock - node.blockCount == 0" class="text-success">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <span *ngIf="bestBlock - node.blockCount > 0" class="text-warning">
                                            <i class="fas fa-arrow-alt-circle-down"></i> {{bestBlock - node.blockCount}}
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-6">
                                    <span class="stat">
                                        <i class="fas fa-plug"></i> {{node.connected}}
                                    </span>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-6 text-right">
                                    <span class="stat {{getClassForNodeLatency(node)}}">
                                        <i class="fas fa-signal"></i> {{node.latency}} ms
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 no-margin padding-5 row" *ngIf="!node.blockCount">
                                <span class="stat text-danger">
                                    <i class="fas fa-times-circle"></i> No connection can be made
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-10 text-center">
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
        </div>
        <div class="col-md-12 row no-margin panel-body padding-10 text-center" *ngIf="!pageResults">
            <h4><strong>No nodes found</strong></h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <app-consensus-list></app-consensus-list>
    </div>
</div>