<div class="col-sm-6" (mouseenter)="hoverNode(node)" (mouseleave)="hoverOffNode(node)" [style.paddingLeft]="index % 2 == 0 ? '0' : '15px'"
    style="padding-right: 0; padding-bottom: 0">
    <div style="background: transparent; color: #666; border: 1px solid #999; margin-bottom: 15px; cursor: pointer; min-height: 180px"
        [style.background-color]="node.rpcEnabled ? 'transparent' : '#EEE'" class="box default">
        <div class="box-title" style="padding-top: 0; padding-bottom: 0">
            <h4 style="color: #666; font-weight: bold; white-space: nowrap; font-size: 16px">{{getNodeDisplayText(node)}}</h4>
            <span style="font-size: 1.2em" *ngIf="node.blockCount">
                <i class="fas fa-cube"></i> 
                #{{node.blockCount | number}}
            </span>
            <small *ngIf="nodeIsBehind(node)" [class]="getClassForNodeBlocks(node)"> ({{latestBlock - node.blockCount | number}} behind)</small>
            <div style="font-size: 0.75em; font-style: italic; margin-top: 5px">v. {{node.version}}</div>
            <span>{{node.pendingTransactions | number}} <small style="letter-spacing: 1px">PENDING TX</small></span>
            <i class="fa fa-globe"></i>
            <div style="position: absolute; top: 35px; right: -2px; width: 90px" class="text-center">
                <img class="img img-thumbnail" width="35px" height="35px" src="assets/icons/tsvg/flag-{{node.locale}}.svg" /><br/>
                <span style="font-size: 0.8em">{{node.location}}</span>
            </div>
        </div>
        <div class="box-body" style="padding-bottom: 0">
            <div class="col-sm-4 text-left" style="padding-left: 0; padding-right: 0; white-space: nowrap">
                <div class="{{(node.rpcEnabled ? 'text-success' : 'text-danger')}} " style="margin-bottom: 10px; margin-top: 10px"><i class="fas fa-circle"></i> RPC {{node.rpcEnabled ? 'live' : 'off'}}</div>
                <span><i style="font-size: 1.15em" class="far fa-clock"></i> {{node.upTime}}% UPTIME</span>
            </div>
            <div class="col-sm-4 text-center" style="padding-left: 0; padding-right: 0; white-space: nowrap">
                 <h2 style="color: #666;"><i class="fas fa-users"></i> {{node.connected}}</h2> 
                <div style="font-size: 0.75em; margin-top: 20px; font-style: italic">{{node.version}}</div>
            </div>
            <div class="col-sm-4 text-right" style="padding-left: 0; padding-right: 0; white-space: nowrap">
                <div class="{{(node.p2pEnabled ? 'text-success' : 'text-danger')}} " style="margin-bottom: 10px; margin-top: 10px">P2P {{node.p2pEnabled ? 'live' : 'off'}} <i class="fas fa-circle"></i></div>
                <span class="{{getClassForNodeLatency(node)}}" style="font-size: 1.15em">
                     <i class="fas fa-signal"></i> 
                     {{node.latency}} ms
                </span>
                    <br/>
            </div>
        </div>
    </div>
</div>