td {
    vertical-align: middle !important; 
    padding-top: 5px; 
    padding-bottom: 5px
}

.ngx-dropdown-container > .ngx-dropdown-button {
    height: 34px !important;
    border: 2px solid #E5E7E9 !important;
}

.select-filter {
    padding: 8px;
    height: 34px;
}