<div class="row">
    <div class="col-md-8" *ngIf="node">
        <div class="panel-body" style="padding-top: 30px">
            <div class="col-md-4 stat">
                <div class="text-center" style="margin-bottom: 25px; margin-top: 10px; font-size: 14px !important">
                    <img class="img img-responsive img-thumbnail" src="{{node.flagUrl}}" style="max-width: 220px" />                    
                    <div style="margin-top: 10px">
                        <small style="font-style: italic;">v. {{node.version}}</small>
                    </div>
                    <div>
                        <span *ngIf="node.blockCount" title="{{node.lastBlockStamp ? (node.lastBlockStamp | stampToDate) : ''}}">
                            <i class="fas fa-cube"></i>&nbsp;{{node.blockCount | number}}
                            <span *ngIf="node.lastBlockStamp">({{node.lastBlockStamp | stampToDate | timeAgo}})</span>
                            <i class="fa fa-arrow-down text-warning" *ngIf="node.blockCount - bestBlock < 0"></i>
                            <i class="fas fa-check text-success" *ngIf="node.blockCount - bestBlock >= 0" title="Same as network best block"></i>
                            <span *ngIf="node.blockCount - bestBlock < 0">({{node.blockCount - bestBlock}})</span>
                        </span>
                    </div>
                    <div>
                        <i class="fas fa-wallet {{(node.isWalletOpen ? 'text-success' : 'text-danger')}}"></i> Wallet
                        {{node.isWalletOpen ? '' : 'not'}} open
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="bold stat text-center text-grey">{{node.url}}</h3>
                <div *ngIf="node.type == 'RPC' && node.blockCount" class="custom-vcenter stat">
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center {{getClassForNodeLatency(node)}}">
                        {{node.latency}}
                        <br>
                        <i class="fas fa-signal"></i> ms
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center {{(node.rpcEnabled ? 'text-success' : 'text-danger')}}">
                        RPC
                        <br>
                        <i class="fas {{(node.rpcEnabled ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center {{(node.p2pEnabled ? 'text-success' : 'text-danger')}}">
                        P2P
                        <br>
                        <i class="fas {{(node.p2pEnabled ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 text-center {{(node.wsStatus ? 'text-success' : 'text-danger')}}">
                        WS
                        <br>
                        <i class="fas {{(node.wsStatus ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                </div>
                <div *ngIf="node.type == 'REST'" class="custom-vcenter stat">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-center {{getClassForNodeLatency(node)}}">
                        {{node.latency}}
                        <br>
                        <i class="fas fa-signal"></i> ms
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 text-center {{(node.blockCount ? 'text-success' : 'text-danger')}}">
                        REST
                        <br>
                        <i class="fas {{(node.blockCount ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                </div>

                <div class="col-md-12 stat">
                    <div *ngIf="node.trackedSeconds" style="padding-top: 40px">
                        <app-percent-bar 
                            [title]="'added ' + (node.firstRuntime | stampToDate | date) + ' | uptime ' + ((node.trackedSeconds / 60 / 60) | number: '1.0-2') + ' hours | updated ' + (node.latestRuntime | stampToDate | timeAgo)"
                            [total]="node.trackedSeconds" 
                            [current]="node.secondsOnline">
                        </app-percent-bar>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding-top: 35px">
                <div class="col-md-6 col-xs-12 text-center">
                    <div style="max-width: 350px; display: inline-block">
                        <app-date-bar-chart [endpoint]="'node/latencychart/' + node.id" [label]="'Average Latency'"></app-date-bar-chart>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 text-center" >
                    <div style="max-width: 350px; display: inline-block">
                        <app-date-bar-chart *ngIf="node.type === 'RPC'" [endpoint]="'node/peerschart/' + node.id" [label]="'Average Peers'"></app-date-bar-chart>
                        <div class="text-center bold custom-vcenter" style="min-height: 360px" *ngIf="node.type === 'REST'">NO PEERS STATS FOR REST NODES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" *ngIf="node">
            <header class="panel-heading">
                <h2 class="panel-title elipsis uppercase">
                    Mempool (<span>{{node?.pendingTransactions ? node.pendingTransactions.length : 0}}</span>)
                </h2>
            </header>
            <div class="panel-body word-wraped" *ngIf="node?.pendingTransactions">
                <a routerLink="/transaction/{{tx}}/{{node.id}}" routerLinkActive="router-link-active" *ngFor="let tx of node.pendingTransactions | paginate: {itemsPerPage: 10, currentPage: p}">
                    <div class="col-md-12 padding-5" style="margin-bottom: 10px;">
                        {{ (tx.length > 44) ? (tx | slice:0:42) + '..': (tx) }}
                    </div>
                </a>
                <div class="col-md-12 padding-10 no-margin text-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <header class="panel-heading">
                <h2 class="panel-title elipsis uppercase">
                    Peers ({{node.connected}})
                </h2>
            </header>
            <div class="panel-body">
                <div id="mynetwork" style="height: 450px;"></div>
            </div>
        </div>
    </div>
</div>