<div class="row no-margin">
    <div class="col-md-8 row no-margin padding-10">
        <div class="col-md-12 row no-margin padding-5 panel-body">
            <div>
                <input [(ngModel)]="nodeNameFilter" 
                    style="width: 200px !important; display: inline-block" 
                    placeholder="Filter by name / IP"  
                    (keyup)="filter()"
                    class="form-control"/>

                <ngx-select-dropdown 
                    (change)="filter()" 
                    (close)="filter()"
                    [multiple]="true" 
                    [(ngModel)]="countryFilter" 
                    [config]="countriesFilterConfig" 
                    [options]="countries"
                    style="width: 200px !important; display: inline-block;"
                    >
                </ngx-select-dropdown>

                <!-- <ng-select [items]="countries"
                    bindLabel="location"
                    bindValue="location"
                    [(ngModel)]="countryFilter"
                    class="form-control"
                    style="width: 200px !important"
                    >
                </ng-select> -->

                <!-- <select [(ngModel)]="countryFilter" class="form-control">
                    <option *ngFor="let country of countries">
                        <img src="{{country.flagUrl}}" class="img img-thumbnail" style="width: 15px; height: 10px" /> {{country.location}} 
                    </option>
                </select> -->
            </div>

            <table class="table table-responsive" *ngIf="filteredNodes && !isLoading">
                <thead class="text-center">
                    <tr>
                        <th class="col-md-1">
                            Flag
                        </th>
                        <th class="col-md-4">
                            Url
                        </th>
                        <th class="col-md-1">
                            Type
                        </th>
                        <th class="col-md-3">
                            Height
                            (synced/behind)
                        </th>
                        <th class="col-md-1">
                            Peers
                        </th>
                        <th class="col-md-2">
                            Latency
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-grey" *ngFor="let node of filteredNodes | paginate: { itemsPerPage: 16, currentPage: page }">
                        <td>
                            <a routerLink="/node/{{node.id}}" routerLinkActive="router-link-active">
                                <img class="img img-responsive img-thumbnail" width="40" height="40" src="{{node.flagUrl}}" />
                            </a>
                        </td>
                        <td>
                            <a routerLink="/node/{{node.id}}" routerLinkActive="router-link-active" class="text-grey">
                                <strong>{{node.url}}</strong>
                            </a>
                        </td>
                        <td>
                            <strong>{{node.type}}</strong>
                        </td>
                        <td>
                            <div *ngIf="node.blockCount">
                                {{node.blockCount | number}}
                                <i class="fas fa-check-circle text-success" *ngIf="bestBlock - node.blockCount == 0"></i>
                                {{bestBlock - node.blockCount == 0 ? '' : '(-' + (bestBlock - node.blockCount) + ')'}}
                            </div>
                            <div *ngIf="!node.blockCount" class="bold text-danger">
                                <i class="fas fa-ban"></i> Offline
                            </div>
                        </td>
                        <td>
                            <div *ngIf="node.connected">
                                {{node.connected}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="node.latency">
                                <span class="{{getClassForNodeLatency(node)}}">
                                    <i class="fas fa-signal"></i> {{node.latency}} ms
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 padding-10 text-center">
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
            <app-loader *ngIf="isLoading"></app-loader>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 text-center no-padding">
        <app-consensus-list></app-consensus-list>
    </div>
</div>