<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding: 0 8px 0 8px">
    <a routerLink="/node/{{node.id}}" routerLinkActive="router-link-active">
        <div class="card node-card" style="padding: 10px 15px" 
            [style.background-color]="(node.type === 'RPC' && node.blockCount) || (node.type === 'REST' && node.blockCount) ? 'transparent' : '#EEE'">            
            <h5 class="text-center text-grey word-wraped bold" style="margin-bottom: 10px">{{node.url}}</h5>
            <div class="col-md-4 col-sm-4 col-xs-4 img-container no-padding">
                <img class="img img-thumbnail img-responsive" width="45px" height="45px" src="{{node.flagUrl}}" /><br />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 no-padding">
                <div *ngIf="node.blockCount">
                    <i class="fas fa-cube"></i>&nbsp;{{node.blockCount | number}}
                </div>
                <div class="card-version" *ngIf="node.version">{{node.version}}</div>
            </div>
            <div class="col-sm-12 no-padding">
                <div style="display: flex; justify-content: space-evenly">
                    <div *ngIf="node.type == 'RPC'" class="text-center {{(node.rpcEnabled ? 'text-success' : 'text-danger')}}">
                        <div>RPC</div>                        
                        <i class="fas {{(node.rpcEnabled ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                    <div *ngIf="node.type == 'RPC'" class="text-center {{(node.connected ? 'text-success' : 'text-danger')}}">
                        <div>P2P</div>                        
                        <i class="fas {{(node.connected ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                    <div *ngIf="node.type == 'REST'" class="text-center {{(node.blockCount ? 'text-success' : 'text-danger')}}">
                        <div>REST</div>
                        <i class="fas {{(node.blockCount ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                    </div>
                    <div *ngIf="node.type == 'RPC'" class="text-center {{getClassForNodeLatency(node)}}">
                        <div>{{node.latency ? node.latency : 0}}</div>
                        <i class="fas fa-signal"></i>
                    </div>
                    <div *ngIf="node.type == 'REST'" class="text-center {{getClassForNodeLatency(node)}}">
                        <div>{{node.latency ? node.latency : 0}}</div>
                        <i class="fas fa-signal"></i>
                    </div>
                </div>

                <!-- <div *ngIf="node.type == 'RPC'" class="col-md-4 col-sm-4 col-xs-4 text-center {{(node.rpcEnabled ? 'text-success' : 'text-danger')}}">
                    RPC
                    <br>
                    <i class="fas {{(node.rpcEnabled ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                </div>
                <div *ngIf="node.type == 'RPC'" class="col-md-4 col-sm-4 col-xs-4 text-center {{(node.connected ? 'text-success' : 'text-danger')}}">
                    P2P
                    <br>
                    <i class="fas {{(node.connected ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                </div>
                <div *ngIf="node.type == 'REST'" class="col-md-6 col-sm-6 col-xs-6 text-center {{(node.blockCount ? 'text-success' : 'text-danger')}}">
                    REST
                    <br>
                    <i class="fas {{(node.blockCount ? 'fa-check-circle' : 'fa-times-circle')}}"></i>
                </div>
                <div *ngIf="node.type == 'RPC'" class="col-md-4 col-sm-4 col-xs-4 text-center {{getClassForNodeLatency(node)}}">
                    {{node.latency}}
                    <br>
                    <i class="fas fa-signal"></i>
                </div>
                <div *ngIf="node.type == 'REST'" class="col-md-6 col-sm-6 col-xs-6 text-center {{getClassForNodeLatency(node)}}">
                    {{node.latency}}
                    <br>
                    <i class="fas fa-signal"></i>
                </div> -->
            </div>
        </div>
    </a>
</div>