<div class="row text-primary" *ngIf="headerInfo" 
    style="font-size: 1.4em; padding-left: 10px; padding-right: 10px; margin-top: 10px; padding-bottom: 5px;">        
    <div class="col-md-2">        
        <h3 class="bold text-grey section-title" 
            style="text-transform: uppercase; margin-bottom: 0 !important; margin-top: -5px !important; padding-left: 0 !important">
            {{state.currentRoute | async}}
        </h3>        
    </div>
    <div class="col-sm-2 col-xs-6 text-right" style="padding-right: 50px; ">
        <div>
            <a routerLink="/nodes" routerLinkActive="router-link-active" class="text-primary">
                <div style="font-size: 14px; "><strong class="text-primary">CONSENSUS</strong>
                    {{consensusNodes}}
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-1 col-xs-6 text-right" >
        <div>
            <a routerLink="/nodes" routerLinkActive="router-link-active" class="text-primary">
                <div style="font-size: 14px; "><strong class="text-primary">RPC</strong>       
                    {{nodeService.rpcEnabledNodes | async}}
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-1 col-xs-6 text-right" >
        <div style="padding-right: 15px">
            <a routerLink="/nodes" routerLinkActive="router-link-active" class="text-primary">
                <div style="font-size: 14px; "><strong class="text-primary">REST</strong>           
                    {{nodeService.restEnabledNodes | async}}
                </div> 
            </a>
        </div>
    </div>
    <div class="col-sm-2 col-xs-6 text-right" style="padding-left: 25px; ">
        <div>
            <div id="last-block-stats" style="white-space: nowrap;">
                <a routerLink="/block/{{headerInfo.height}}" routerLinkActive="router-link-active" class="text-primary">
                    <div style="font-size: 14px; "><strong>LAST BLOCK</strong>
                        {{headerInfo.height | number}}
                    </div>
                </a>
            </div>
        </div>
    </div>    
    <div class="col-sm-2 col-xs-6 text-right" >
        <div>
            <a routerLink="/block/{{headerInfo.height}}" routerLinkActive="router-link-active" class="text-primary" title="{{headerInfo.timestamp | stampToDate | date}}">
                <div style="font-size: 14px; "><strong>TIMESTAMP</strong>
                    {{secondsSinceLastBlock | number}} s ago
                </div>
            </a>
        </div>
    </div>
    <div class=" col-sm-1 col-xs-6 text-right" >
        <div>
            <a routerLink="/block/{{headerInfo.height}}" routerLinkActive="router-link-active" class="text-primary" title="Transactions">
                <div style="font-size: 14px; "><strong>TX</strong>          
                    {{headerInfo.transactionCount | number}}
                </div>  
            </a>
        </div>
    </div>
    <div class="col-sm-1 col-xs-6 text-right" >
        <div>
            <a routerLink="/block/{{headerInfo.height}}" routerLinkActive="router-link-active" class="text-primary" title="Bytes">
                <div style="font-size: 14px; "><strong>SIZE</strong>
                    {{headerInfo.size | number}}
                </div>
            </a>
        </div>
    </div>
</div>