<div class="row">
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
                <!-- <h4 class="text-grey" style="margin-top: 0; ">{{model.name}}</h4> -->
                <h5 class="text-grey margin-bottom-10 bold">General Information</h5>
                <table class="table no-top-border-first-row" *ngIf="model">
                    <tbody>
                        <tr>
                            <td>Hash</td>
                            <td>{{model.hash}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Name</td>
                            <td class="col-md-10">{{model.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{model.description}}</td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td>{{model.timestamp | stampToDate | timeAgo}}</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>{{model.version}}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{model.author}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{model.email}}</td>
                        </tr>
                        <tr>
                            <td>Storage</td>
                            <td>{{model.hasStorage}}</td>
                        </tr>
                        <tr>
                            <td>Dynamic invoke</td>
                            <td>{{model.hasDynamicInvoke}}</td>
                        </tr>
                        <tr>
                            <td>Payable</td>
                            <td>{{model.payable}}</td>
                        </tr>
                        <tr>
                            <td>Parameters</td>
                            <td>{{model.inputParameters}}</td>
                        </tr>
                        <tr>
                            <td>Return type</td>
                            <td>{{model.returnType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h2 class="panel-title elipsis text-grey">
                    NOTIFICATIONS
                    <span style="margin-left: 10px;">
                        <button title="{{!pausedNotifications ? 'Start': 'Stop'}}" (click)="togglePause()" class="btn btn-xs {{!pausedNotifications ? 'btn-default': 'btn-success'}} text-center">
                            <i class="fas {{!pausedNotifications ? 'fa-pause': 'fa-play'}} no-padding"></i>
                        </button>
                    </span>
                    <span class="pull-right text-grey">
                        <i class="fas fa-circle {{!pausedNotifications ? 'fa-pulse pulse text-success': 'text-error'}}" style="font-size:14px"></i>&nbsp;
                        <span style="text-transform: lowercase">{{!pausedNotifications ? 'live': 'stopped'}}</span>
                    </span>
                </h2>
            </header>
            <div class="panel-body notifications-panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="col-md-6 col-sm-4 col-xs-4">Time</th>
                            <th class="col-md-6 col-sm-4 col-xs-4">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr title="{{notification.values.join(' | ')}}" *ngFor="let notification of currentNotifications">
                            <td title="{{notification.timestamp | stampToDate}}">
                                {{notification.timestamp | stampToDate | timeAgo}}
                            </td>
                            <td>
                                {{notification.type}}
                            </td>
                            <!-- <td style="width: 100%; overflow: hidden;">
                                <span *ngFor="let value of notification.values; let i = index" title="{{i === 0 ? notification.type : 'This is hex string representation'}}">
                                    {{value}} {{i === notification.values.length - 1 ? '' : '|'}}
                                </span>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>