<div class="row">
    <div class="col-md-8">
        <div class="panel-body">
            <app-sc-table *ngIf="contracts" [pageSize]="pageSize" [model]="contracts"></app-sc-table>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel-body" style="padding-top: 30px">
            <div>                    
                <app-horizontal-bar-chart 
                    [title]="'TOP-20 Contracts by activity'"
                    [endpoint]="'smartcontract/InvocationsChart?count=20'" 
                    [height]="'100px'"
                    [label]="'Contracts'">
                </app-horizontal-bar-chart>
            </div>
        </div>
    </div>
</div>