<div class="row">
    <app-loader *ngIf="!model"></app-loader>
    <div class="col-md-12" *ngIf="model">
        <div class="col-md-12" style="padding: 8px;">
            <label for="sc-filter">Filter</label>
            <input id="sc-filter" [(ngModel)]="input" style="margin-left: 10px; width: 200px !important; display: inline-block"
                placeholder=" by name / author / hash" (keyup)="filter()" class="form-control" />
        </div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-2">Author</th>
                    <th class="col-md-4">Hash</th>
                    <th class="col-md-1">Version</th>
                    <th class="col-md-2">Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sc of filteredModel | paginate: { itemsPerPage: 32, currentPage: page }">
                    <td>{{sc.name}}</td>
                    <td>{{sc.author}}</td>
                    <td>{{sc.hash.length > 16 ? (sc.hash | slice:0:16) + '..': sc.hash }}</td>
                    <td>{{sc.version}}</td>
                    <td>{{sc.timestamp | stampToDate | timeAgo}}</td>
                </tr>
            </tbody>
        </table>

        <div class="col-md-12 text-center">
            <div style="padding-top: 25px">
                <div class="spinner" [ngClass]="{ 'hidden': contracts !== null }"></div>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="row col-md-12 no-margin text-center padding-10" *ngIf="!model || model.length == 0">
        No smart contracts found
    </div>
</div>