<div class="row col-md-12 no-margin no-padding">
    <h2 class="bold text-grey section-title">ADDRESS</h2>
    <div class="col-sm-8" style="padding-left: 0">
        <div class="panel panel-default" style="margin-bottom: 0">
            <div class="panel-body text-grey">
                <div class="col-md-8">              
                    <h3 class="text-grey" style="margin-top: 0; font-weight: bold; ">{{addressDetails.address}}</h3>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-4">
                            <div class="box success">
                                <div class="box-title noborder">
                                    <h4>NEO {{getBalance('NEO') | number}}</h4>
                                    <small class="block"></small>
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <div class="box success">
                                <div class="box-title noborder">
                                    <h4>GAS {{getBalance('GAS') | number}}</h4>
                                    <small class="block"></small>
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <app-pie-chart [endpoint]="transactionsEndpoint" [label]="'Total Transactions - ' + transactions.metaData.totalItemCount"></app-pie-chart>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngFor="let balance of getTokens()">
                        {{balance.name}} : {{balance.balance}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="padding-left: 5px; padding-right: 0">
        <div class="panel panel-default" style="margin-bottom: 0">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    <i class="fas fa-handshake" style="margin-left: 25px; margin-right: 20px"></i> Transactions
                </h2>
            </header>
            <div class="panel-body">
                <app-tx-list [model]="transactions" (emitGetPage)="getTransactionsPage($event)"></app-tx-list>
            </div>
        </div>
    </div>
</div>