<div class="row">
    <div class="col-md-6" style="padding-left: 25px; padding-right: 10px">
        <h4 class="bold text-center text-warm" style="letter-spacing: 3px; margin: 0 0 10px 0">NEO</h4>
        <div *ngIf="isLoadingNeo" class="text-center" style="padding-top: 30px">
            <i class="fa-4x fas fa-spinner fa-spin"></i>
        </div>
        <div *ngIf="topNeo && !isLoadingNeo">
            <div *ngFor="let address of topNeo">
                <app-address-list-item [address]="address"></app-address-list-item>
            </div>
            <div class="row col-md-12 no-margin text-center padding-10" *ngIf="(!topNeo || topNeo.length == 0) && !isLoadingNeo">
                No addresses found
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 25px; padding-left: 10px">
        <h4 class="bold text-center text-warm" style="letter-spacing: 3px; margin: 0 0 10px 0">GAS</h4>
        <div *ngIf="isLoadingGas" class="text-center" style="padding-top: 30px">
            <i class="fa-4x fas fa-spinner fa-spin"></i>
        </div>
        <div *ngIf="topGas && !isLoadingGas">
            <div *ngFor="let address of topGas">
                <app-address-list-item [address]="address"></app-address-list-item>
            </div>
            <div class="row col-md-12 no-margin text-center padding-10" *ngIf="(!topGas || topGas.length == 0) && !isLoadingGas">
                No addresses found
            </div>
        </div>
    </div>
</div>