<div class="row">
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="col-md-12" *ngIf="pageResults && !isLoading" style="padding-top: 10px">
        <div class="col-md-6 col-sm-6 col-xs-6" style=" padding-left: 10px; padding-right: 10px"
            *ngFor="let address of pageResults.items | paginate: { id: 'server', itemsPerPage: pageResults.metaData.pageSize, currentPage: pageResults.metaData.pageNumber, totalItems: pageResults.metaData.totalItemCount }">
            <app-address-list-item [address]="address" ></app-address-list-item>
        </div>            
        <div class="col-md-12 text-center">
            <div style="padding-top: 25px">
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="row col-md-12 no-margin text-center padding-10" *ngIf="(!pageResults || pageResults.items.length == 0) && !isLoading">
        No addresses found
    </div>
</div>