<div class="row no-margin no-padding">
    <div class="col-md-8 row no-margin panel-body" *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12" *ngIf="block">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-3"></th>
                            <th class="col-md-9"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Height
                            </td>
                            <td>     
                                {{block.height | number}}
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                Hash
                            </td>
                            <td>
                               {{block.hash}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Age
                            </td>
                            <td>
                                {{block.finalizedAt | timeAgo}} ({{block.finalizedAt | date:'dd-MMM-yyyy hh:mm:ss'}} UTC)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Time
                            </td>
                            <td>
                                <i class="fa fa-hourglass-end spin"></i> {{block.secondsFromPreviousBlock}} s
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Size
                            </td>
                            <td>
                                <i class="fas fa-microchip"></i> {{block.size | number}} Bytes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Transactions
                            </td>
                            <td>
                                <i class="fas fa-handshake"></i> {{block.transactionsCount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Validator
                            </td>
                            <td>
                                {{block.validator}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Parent Block
                            </td>
                            <td>
                                <a routerLink="/block/{{block.height + 1}}">{{block.previousBlockHash}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Next Validator
                            </td>
                            <td>
                                {{block.nextConsensusNodeAddress}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Collected Fees
                            </td>
                            <td>
                                {{block.collectedFees | number: '1.0-8'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h4 class="text-grey margin-bottom-10">
                    <strong>Bytecode Invocation Script</strong>
                </h4>
                <div style="word-break: break-all">
                    {{block.invocationScript}}
                </div>
                <h4 class="text-grey margin-top-20 margin-bottom-10">
                    <strong>Bytecode Verification Script</strong>
                </h4>
                <div style="word-break: break-all">
                    {{block.verificationScript}}
                </div>    
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 row no-margin">
        <div class="panel panel-default" *ngIf="transactions">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    <i class="fas fa-handshake" style="margin-left: 25px; margin-right: 20px"></i> 
                    TRANSACTIONS <span class="bold" *ngIf="transactions.metaData && transactions.metaData.totalItemCount">{{transactions.metaData.totalItemCount}}</span>
                </h2>
            </header>
            <div class="panel-body">
                <app-tx-list [model]="transactions" (emitGetPage)="getTransactionsPage($event)"></app-tx-list>
            </div>
        </div>
        <app-loader *ngIf="!transactions"></app-loader>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>