<div class="row">
    <div class="col-md-8" *ngIf="!isLoading">
        <div class="panel-body" *ngIf="block">
            <div class="col-xl-8 col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-md-3">Height</td>
                            <td class="col-md-9">{{block.height | number}}</td>    
                        </tr>
                        <tr>
                            <td>Hash</td>
                            <td style="word-break: break-all">{{block.hash}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>{{block.finalizedAt | timeAgo}} ({{block.finalizedAt | date:'dd-MMM-yyyy hh:mm:ss'}} UTC)</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>{{block.secondsFromPreviousBlock}} s</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{block.size | number}} bytes</td>
                        </tr>
                        <tr>
                            <td>Transactions</td>
                            <td>{{block.transactionsCount}}</td>
                        </tr>
                        <tr>
                            <td>Validator</td>
                            <td>{{block.validator}}</td>
                        </tr>
                        <tr *ngIf="block.height > 0">
                            <td>Parent Block</td>
                            <td style="word-break: break-all"><a routerLink="/block/{{block.height - 1}}">{{block.previousBlockHash}}</a></td>
                        </tr>
                        <tr>
                            <td>Next Validator</td>
                            <td>{{block.nextConsensusNodeAddress}}</td>
                        </tr>
                        <tr>
                            <td>Collected Fees</td>
                            <td>{{block.collectedFees | number: '1.0-8'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12">
                <h5 class="text-grey margin-bottom-10">
                    <strong>Bytecode Invocation Script</strong>
                </h5>
                <div style="word-break: break-all">
                    {{block.invocationScript}}
                </div>
                <h5 class="text-grey margin-top-20 margin-bottom-10">
                    <strong>Bytecode Verification Script</strong>
                </h5>
                <div style="word-break: break-all">
                    {{block.verificationScript}}
                </div>    
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default" *ngIf="transactions">
            <header class="panel-heading">
                <h2 class="panel-title elipsis text-grey">
                    <i class="fas fa-handshake" style="margin-left: 25px; margin-right: 20px"></i> 
                    TRANSACTIONS <span class="bold" style="color: #676a6c !important" *ngIf="transactions.metaData && transactions.metaData.totalItemCount">({{transactions.metaData.totalItemCount}})</span>
                </h2>
            </header>
            <div class="panel-body">
                <app-tx-small-list [model]="transactions" (emitGetPage)="getTransactionsPage($event)"></app-tx-small-list>
            </div>
        </div>
        <app-loader *ngIf="!transactions"></app-loader>
    </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>