/* You can add global styles to this file, and also import other style files */
.padding-2 {
    padding: 2px !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.margin-2 {
    margin: 2px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-bot-10 {
    margin: 0 0 10px 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.border-box {
    border: 1px solid #B1B1B1 !important;
}

.border-box-shadow {
    border: 1px solid #EFEFEF !important;
    box-shadow: 3px 3px 5px #B1B1B1;
    height: 100%;
}

.box-shadowed {
    box-shadow: 3px 3px 5px #B1B1B1;
}

.custom-vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} 

.word-wraped {
    word-wrap: break-word;
    word-break: break-all;
}

.stat {
    font-size: 1.5em;
}

.info-signiture {
    font-style: italic;
    font-size: 0.5em;
    padding-right: 10px;
}

.warm-cyan {
    color: #079098;
}

.text-grey {
    color: #676a6c !important;
}

.ngx-pagination .current {
    background: #337ab7 !important;
}

li.active a h3 {
    color: #337ab7 !important;
}