<div class="panel-body noradius padding-10 blocks-container" style="height: 255px; overflow-y: scroll">
    <div class="home-block-container" 
        routerLink="/block/{{block.height}}" 
        routerLinkActive="router-link-active" 
        style="cursor: pointer"
        *ngFor="let block of blocks" @fadeIn>
        <div class="col-md-4 no-padding" style="margin-bottom: 5px">
            <div class="custom-vcenter home-block" style="margin-bottom: -5px">
                <small class="bold">{{block.height | number}}</small>
            </div>
            <div class="custom-vcenter home-block text-center" style="margin-top: -20px; height: 35px">
                <small>{{block.timestamp | stampToDate | timeAgo}}</small>
            </div>
        </div>
        <div class="col-md-8 no-padding" style="margin-bottom: 5px">
            <div style="padding: 0 10px">
                <div>
                    <small>
                        <strong>{{block.transactionsCount}}</strong> {{block.transactionsCount == 1 ? 'tx' : 'txns'}} in 
                        <strong>{{block.timeInSeconds}}</strong> seconds
                    </small>
                </div>
                <div>
                    <small><strong>{{block.collectedFees | number:'1.0-8'}}</strong> GAS fees</small>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>