<div class="row no-margin">
    <div class="col-sm-6" style="padding-left: 0">
        <div id="main-panel" class="panel panel-default">
            <div class="panel-body">
                <div>
                    <app-map></app-map>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-3" style="padding-right: 10px">
                        <div class="box default">
                            <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                <h4><strong>Blocks</strong></h4>
                                <small class="block">2,878,185 blocks to date</small>
                                <i class="fas fa-cube"></i>
                            </div>
                            <div class="box-body text-center" style="padding-top: 10px">
                                <a [routerLink]="['/blocks']" routerLinkActive="router-link-active" class="btn btn-xs btn-success" >more</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-8"></th>
                                    <th class="col-md-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>tx per block</small></td>
                                    <td class="text-right"><small class="badge">5</small></td>
                                </tr>
                                <tr>
                                    <td><small>block time (seconds)</small></td>
                                    <td class="text-right"><small class="badge">18</small></td>
                                </tr>
                                <tr>
                                    <td><small>block size (bytes)</small></td>
                                    <td class="text-right"><small class="badge">286</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px; padding-right: 10px">
                        <div class="box default">
                            <div class="box-title"><!-- add .noborder class if box-body is removed -->
                                <h4><strong>Transactions</strong></h4>
                                <small class="block">12,878,185  transactions total</small>
                                <i class="fas fa-handshake"></i>
                            </div>
                            <div class="box-body text-center" style="padding-top: 10px">
                                <a [routerLink]="['/transactions']" routerLinkActive="router-link-active" class="btn btn-xs btn-success" >more</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-10"></th>
                                    <th class="col-md-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>tx per second</small></td>
                                    <td class="text-right"><small class="badge">0.3</small></td>
                                </tr>
                                <tr>
                                    <td><small>tx per day</small></td>
                                    <td class="text-right"><small class="badge">23,452</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px; padding-right: 10px">
                        <div class="box default">
                            <div class="box-title noborder"><!-- add .noborder class if box-body is removed -->
                                <h4><strong>Addresses</strong></h4>
                                <small class="block">678,185 addresses created</small>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="box-body text-center" style="padding-top: 10px">
                                <a [routerLink]="['/address']" routerLinkActive="router-link-active" class="btn btn-xs btn-success" >more</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-8"></th>
                                    <th class="col-md-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>new last day</small></td>
                                    <td class="text-right"><small class="badge">73</small></td>
                                </tr>
                                <tr>
                                    <td><small>new last month</small></td>
                                    <td class="text-right"><small class="badge">2,286</small></td>
                                </tr>
                                <tr>
                                    <td><small>active last 3 months</small></td>
                                    <td class="text-right"><small class="badge">16,286</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3" style="padding-left: 10px; ">
                        <div class="box default">
                            <div class="box-title noborder"><!-- add .noborder class if box-body is removed -->
                                <h4><strong>Assets</strong></h4>
                                <small class="block">17 unique assets</small>
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="box-body text-center" style="padding-top: 10px">
                                <a [routerLink]="['/asset']" routerLinkActive="router-link-active" class="btn btn-xs btn-success" >more</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-md-8"></th>
                                    <th class="col-md-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>total transactions</small></td>
                                    <td class="text-right"><small class="badge">286,832</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="padding-left: 5px; padding-right: 0">
        <div id="nodes-panel" class="panel panel-default" style="overflow-y: scroll; margin-bottom: 0">
            <div class="panel-body" *ngIf="allNodes">
                <app-node-card [node]="node" [index]="i" *ngFor="let node of allNodes; let i = index"></app-node-card>
            </div>
            <app-loader *ngIf="!allNodes" [title]="'Nodes'"></app-loader>
        </div>
    </div>
</div>