table td {
    padding-left: 0;
    padding-right: 0;
}

.map-container {
    height: 500px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1265px) {
    .map-container {
        height: 380px;
    }
}