<div class="tx-container" 
    routerLink="/transaction/{{tx.hash}}" 
    routerLinkActive="router-link-active" 
    style="cursor: pointer"
    *ngFor="let tx of transactions" @fadeIn>
    <div class="row home-tx-container no-padding">
        <div class="col-md-2 no-padding text-center" style="margin-bottom: 5px; padding-top: 5px !important" title="{{getTypeName(tx.type)}}">
            <i class="{{iconClass(tx.type)}}" style="font-size: 18px"></i>
            <div style="font-size: 10px">
                <small *ngIf="tx.timestamp">{{tx.timestamp | stampToDate | timeAgo}}</small>
            </div>
        </div>
        <div class="col-md-10 no-padding" style="margin-bottom: 5px">
            <div style="padding: 0 10px; font-size: 11px">

                <!-- invoced smart contract -->
                <div *ngIf="tx.contractName">
                    Invoked 
                    <a routerLink="/contract/{{tx.contractHash}}">
                        <strong>{{tx.contractName}}</strong>
                    </a>
                </div>

                <!-- transfered tokens -->
                <div *ngIf="tx.type == 209 && tx.assets && tx.assets && tx.assets.length > 0">
                    <span *ngFor="let asset of tx.assets">
                        <span *ngIf="asset.fromAddress">
                            <a routerLink="/address/{{asset.fromAddress}}" routerLinkActive="router-link-active">
                                {{asset.fromAddress.length > 8 ? (asset.fromAddress | slice:0:8) + '..' : asset.fromAddress}}
                            </a>
                            Sent
                        </span>
                        <span *ngIf="!asset.fromAddress">
                            Minted
                        </span>
                        {{asset.value | number: '1.0-8'}} {{asset.assetSymbol}} 
                        <a routerLink="/asset/{{asset.assetHash}}" routerLinkActive="router-link-active">
                            {{asset.symbol}} 
                        </a>
                        to 
                        <a routerLink="/address/{{asset.toAddress}}" routerLinkActive="router-link-active">
                            {{asset.toAddress.length > 8 ? (asset.toAddress | slice:0:8) + '..' : asset.toAddress}}
                        </a>
                    </span>
                </div>

                <!-- transfered global assets -->
                <div *ngIf="tx.assetsWithNewOwner && tx.assetsWithNewOwner.length">
                    <span *ngFor="let asset of tx.assetsWithNewOwner">
                        {{tx.type == 2 ? 'Claimed' : 'Sent'}}
                        <a routerLink="/asset/{{asset.assetHash}}" routerLinkActive="router-link-active">
                            <strong>{{asset.amount | number: '1.0-8'}} {{asset.assetSymbol}}</strong>                            
                        </a>
                        {{ tx.type == 0 ? 'collected fees' : '' }} to
                        <a routerLink="/address/{{asset.toAddress}}" routerLinkActive="router-link-active">
                            <strong>{{asset.toAddress.length > 8 ? (asset.toAddress | slice:0:8) + '..' : asset.toAddress}}</strong>
                        </a>
                    </span>
                </div>

                <!-- transfered global assets -->
                <div *ngIf="tx.receivedAssets && tx.receivedAssets.length > 0 && tx.type != 209 && (!tx.assetsWithNewOwner || !tx.assetsWithNewOwner.length)">
                    <span *ngFor="let asset of tx.receivedAssets">
                        {{tx.type == 2 ? 'Claimed' : 'Sent'}}                        
                        <a routerLink="/asset/{{asset.assetHash}}" routerLinkActive="router-link-active">
                            <strong>{{asset.amount | number: '1.0-8'}} {{asset.assetSymbol}}</strong>
                        </a>
                        to
                        <a routerLink="/address/{{asset.toAddress}}" routerLinkActive="router-link-active">
                            <strong>{{ asset.toAddress.length > 8 ? (asset.toAddress | slice:0:8) + '..' : asset.toAddress }}</strong>
                        </a>
                    </span>
                </div>

                <!-- miner tx with no fees -->
                <div *ngIf="tx.type == 0 && (!tx.receivedAssets || tx.receivedAssets.length == 0)">
                    Collected no fees
                </div>
            </div>
        </div>
    </div>
</div>