<div class="row col-md-12 no-margin padding-10">
    <div class="row col-md-8 no-margin padding-10 panel-body stat" *ngIf="!isLoading">
        <div class="col-md-12 padding-10" style="margin-bottom: 20px; font-size: 1.15em">
            <strong>{{tx.hash}}</strong>
            <span class="pull-right"><app-tx-icon [type]="tx?.type"></app-tx-icon> {{getTypeName()}}</span>
        </div>
        <div class="row no-margin padding-10">
            <div class="col-md-4 no-padding">
                <div class="margin-bot-10">
                    <a routerLink="/block/{{tx?.blockHeight}}">
                        <i class="fas fa-cube"></i> #{{tx.blockHeight | number}}
                    </a>
                </div>
                <div class="margin-bot-10">
                    <i class="fas fa-microchip"></i> {{tx.size | number}} Bytes
                </div>
                <div class="margin-bot-10" title="{{tx.finalizedAt | date:'dd-MMM-yyyy | hh:mm:ss'}}">
                    <i class="fas fa-clock"></i> {{tx.finalizedAt | timeAgo}}
                </div>
                <div class="margin-bot-10">
                    <i class="fas fa-code-branch"></i> Version {{tx.version}}     
                </div>
                <div class="margin-bot-10">
                    <i class="fas fa-book"></i> {{tx.systemFee | number: '1.0-8'}} GAS System Fee
                </div>
                <div class="margin-bot-10">
                    <i class="fas fa-briefcase"></i> {{tx.networkFee | number: '1.0-8'}} GAS Network Fee
                </div>
            </div>
            <div class="col-md-8 no-padding">
                <h4 class="text-center" *ngIf="outgoingAssets.length">GLOBAL ASSETS</h4>
                <div *ngFor="let asset of incomingAssets" style="margin-top: 8px">
                    <strong *ngIf="asset.fromAddress">
                        <div class="text-center" style="font-size: 0.5em; border-radius: 2px; padding: 4px 6px; background: #d9534f; color: white; display: inline-block;">
                            <strong>SENT</strong>&nbsp;<span class="badge">{{asset.amount | number: '1.0-8'}}</span>&nbsp;<strong>{{getAssetName(asset.assetType)}}</strong>
                        </div>&nbsp;
                        <small style="font-size: 0.65em">
                            <a routerLink="/address/{{asset.fromAddress}}">{{asset.fromAddress}}</a>
                        </small>
                    </strong>
                </div>
                <br *ngIf="outgoingAssets.length">
                <div class="text-right" *ngFor="let asset of outgoingAssets" style="margin-top: 8px">
                    <strong *ngIf="asset.toAddress">
                        <small style="font-size: 0.65em">
                            <a routerLink="/address/{{asset.toAddress}}">{{asset.toAddress}}</a>
                        </small>&nbsp;
                        <div class="text-center" style="font-size: 0.5em; border-radius: 2px; padding: 4px 6px; background: #5cb85c; color: white; display: inline-block;">
                            <strong>RECEIVED</strong>&nbsp;<span class="badge">{{asset.amount | number: '1.0-8'}}</span>&nbsp;<strong>{{getAssetName(asset.assetType)}}</strong>
                        </div>
                    </strong>
                </div>
                <h4 *ngIf="tokenAssets.length" class="text-center " style="margin-top: 40px">NEP-5 TOKENS</h4>
                <div class="text-right" *ngFor="let asset of tokenAssets" style="margin-top: 8px">
                    <div class="row">
                        <div class="col-md-5 text-left">
                            <div *ngIf="asset.fromAddress">
                                <strong>
                                    <small style="font-size: 0.65em">
                                        <a routerLink="/address/{{asset.fromAddress}}">{{asset.fromAddress}}</a>
                                    </small>
                                </strong>
                            </div>
                            <div *ngIf="!asset.fromAddress">
                                MINTED
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="text-center" style="font-size: 0.5em; border-radius: 2px; padding: 4px 6px; background: #5cb85c; color: white; display: inline-block;">
                                <span class="badge">{{asset.amount | number: '1.0-8'}}</span>&nbsp;<strong>{{asset.name}}</strong>
                            </div>
                        </div>
                        <div class="col-md-5">                         
                            <div *ngIf="asset.toAddress">
                                <strong>
                                    <small style="font-size: 0.65em">
                                        <a routerLink="/address/{{asset.toAddress}}">{{asset.toAddress}}</a>
                                    </small>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="col-md-4 no-margin">
        <div class="panel panel-default" *ngIf="tx?.witnesses && tx?.witnesses.length">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    <i class="fas fa-users" style="margin-left: 15px; margin-right: 20px"></i> Witnesses
                </h2>
            </header>
            <div class="panel-body">
                <div *ngFor="let witness of tx?.witnesses">
                    <strong>{{witness.address}}</strong>
                    <div class="padding-10 word-wraped">
                        <div><strong>Invocation script</strong></div>
                        {{witness.invocationScriptAsHexString}}
                    </div>
                    <div class="padding-10 word-wraped">
                        <div><strong>Verification script</strong></div>
                        {{witness.verificationScriptAsHexString}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" *ngIf="tx?.attributes && tx?.attributes.length">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    <i class="fas fa-database" style="margin-left: 15px; margin-right: 20px"></i> Attributes
                </h2>
            </header>
            <div class="panel-body">
                <div *ngFor="let attribute of tx?.attributes; let i = index" class="padding-5 word-wraped">
                    <div><span class="label label-success">{{attribute.type}}</span> {{attribute.dataAsHexString}}</div>                    
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="isLoading"></app-loader>
</div>