<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
    <div class="panel-body">
      <div>
        <div class="pull-left" style="width: 9rem;">
          <div>Type</div>
          <mat-select [(ngModel)]="type">
            <mat-option *ngFor="let t of txTypes" [value]="t.value">
              {{ t.label }}
            </mat-option>
          </mat-select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div style="margin-top: 20px;">
        <app-tx-list-table
          [model]="transactions"
          (emitGetPage)="getPage($event)"
        ></app-tx-list-table>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel-body" style="padding-top: 30px;">
      <div class="text-center" *ngIf="claimedGas">
        <h4 class="no-margin warm-cyan bold">
          TOTAL GAS CLAIMED {{ claimedGas | number: "1.0-8" }}
        </h4>
      </div>
      <app-loader *ngIf="!claimedGas"></app-loader>
      <div style="margin-top: 40px;">
        <app-date-bar-chart
          [endpoint]="'transactions/chart'"
          [label]="'Transactions'"
        ></app-date-bar-chart>
      </div>
      <div style="margin-top: 40px;">
        <app-pie-chart
          [endpoint]="'transactions/piechart'"
          [label]="'Transaction Types'"
        ></app-pie-chart>
      </div>
    </div>
  </div>
</div>
