<div class="row col-md-12 no-margin no-padding">
    <h2 class="bold text-grey section-title">TRANSACTIONS</h2>
    <div class="col-md-8 col-sm-6 col-xs-12 row no-margin padding-10">
        <div class="col-md-12 panel-body">
            <app-tx-list [pageResults]="transactions"></app-tx-list>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 no-margin padding-10">
        <div class="row no-margin padding-10 col-md-12 panel-body">
            <div class="col-md-12 text-center">
                <h3 class="bold no-margin text-grey">STATS</h3>
            </div>
            <app-total-gas-claimed></app-total-gas-claimed>
            <app-date-bar-chart [endpoint]="'transactions/chart'" [label]="'Transactions'"></app-date-bar-chart>
            <app-pie-chart [endpoint]="'transactions/piechart'" [label]="'Transaction Types'"></app-pie-chart>
        </div>
    </div>
</div>