<div *ngIf="model" class="row col-md-12 no-margin padding-10 panel-body word-wraped">
    <div class="row col-md-12 col-sm-12 col-xs-12 padding-5 custom-vcenter margin-bot-10" *ngFor="let tx of model?.items | paginate: { id: 'server', itemsPerPage: model?.metaData.pageSize, currentPage: model?.metaData.pageNumber, totalItems: model?.metaData.totalItemCount }">
        <div class="col-md-1 col-sm-1 col-xs-1">
            <app-tx-icon [type]="tx.type"></app-tx-icon>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <a routerLink="/transaction/{{tx?.hash}}">
                {{tx.hash}}
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 italic">
            <div title="{{tx.finalizedAt | date:'dd-MMM-yyyy | hh:mm:ss'}}">{{tx.finalizedAt | timeAgo}}</div>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <div style="padding-top: 25px">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>
<app-loader *ngIf="!model"></app-loader>