<app-loader *ngIf="isLoading"></app-loader>
<table class="table table-responsive table-hover" *ngIf="!isLoading">
    <tbody>
        <tr *ngFor="let tx of model.items | paginate: { id: 'server', itemsPerPage: model.metaData.pageSize, currentPage: model.metaData.pageNumber, totalItems: model.metaData.totalItemCount }">
            <td class="col-md-2" style="padding-top: 5px; padding-bottom: 5px">
                <a routerLink="/transaction/{{tx.hash}}" routerLinkActive="router-link-active" style="font-size: 1.6em">
                    <app-tx-icon [type]="tx.type"></app-tx-icon>
                </a>
            </td>
            <td  class="col-md-7" style="vertical-align: middle !important; padding-top: 5px; padding-bottom: 5px">
                <a routerLink="/transaction/{{tx.hash}}" routerLinkActive="router-link-active">
                    {{ (tx.hash.length>16)? (tx.hash | slice:0:16)+'..':(tx.hash) }}
                </a>
            </td>
            <td class="col-md-3" style="vertical-align: middle !important; padding-top: 5px; padding-bottom: 5px" class="text-grey">
                <div title="{{tx.timestamp | stampToDate | date:'dd-MMM-yyyy | hh:mm:ss'}}">
                    <small>{{tx.timestamp | stampToDate | timeAgo}}</small>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <div style="padding-top: 25px">
        <div class="spinner" [ngClass]="{ 'hidden': !isLoading }"></div>
        <pagination-controls (pageChange)="update($event)" id="server"></pagination-controls>
    </div>
</div>