<div class="row">
    <div class="col-md-8" *ngIf="tx">
        <div class="panel">
            <div class="panel-body">
                <button type="button" 
                    class="btn-xs btn btn-info pull-right" 
                    data-toggle="modal" 
                    data-target="#raw-tx" 
                    style="margin-top: 0!important"
                    *ngIf="raw">SEE RAW</button>
                <h5 class="text-grey margin-bottom-10 bold">General Information</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="col-md-3">Hash</td>
                            <td class="col-md-9" style="word-break: break-all">{{tx.txid}}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{getTypeName()}}</td>
                        </tr>
                        <tr>
                            <td>Confirmed</td>
                            <td>{{tx?.confirmations ? 'Confirmed' : 'Unconfirmed'}}</td>
                        </tr>
                        <tr *ngIf="tx?.blockHeight">
                            <td>Block</td>
                            <td><a routerLink="/block/{{tx?.blockHeight}}">{{tx.blockHeight | number}}</a></td>
                        </tr>
                        <tr *ngIf="tx?.confirmations">
                            <td>Confirmations</td>
                            <td>{{tx.confirmations | number}}</td>
                        </tr>
                        <tr *ngIf="tx?.confirmations" title="{{tx.blocktime | stampToDate | date}}">
                            <td>Age</td>
                            <td>{{tx.blocktime | stampToDate | timeAgo }}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{tx.size | number}} Bytes</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>{{tx.version}}</td>
                        </tr>
                        <tr>
                            <td>System Fee</td>
                            <td>{{tx.sys_fee | number: '1.0-8'}}</td>
                        </tr>
                        <tr>
                            <td>Network Fee</td>
                            <td>{{tx.net_fee | number: '1.0-8'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="tx && tx.scripts">
        <div class="panel panel-default" *ngIf="tx?.scripts && tx?.scripts.length">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">Witnesses ({{tx?.scripts ? tx?.scripts.length : 0}})</h2>
            </header>
            <div class="panel-body" style="padding-bottom: -15px">
                <div *ngFor="let script of tx?.scripts" style="margin-bottom: 15px">
                    <h5 class="bold text-grey" style="margin-bottom: 5px">{{script.address}}</h5>
                    <div class="word-wraped">
                        <div class="bold">Invocation script</div>
                        {{script.invocation}}
                    </div>
                    <div class="word-wraped">
                        <div class="bold">Verification script</div>
                        {{script.verification}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default" *ngIf="tx?.attributes && tx?.attributes.length">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    <i class="fas fa-database" style="margin-left: 15px; margin-right: 20px"></i> Attributes ({{tx?.attributes ? tx?.attributes.length : 0}})
                </h2>
            </header>
            <div class="panel-body">
                <div *ngFor="let attribute of tx?.attributes; let i = index" class="padding-5 word-wraped">
                    <div>
                        <span class="label label-success">{{attribute.usage}}</span> {{attribute.data}}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="!tx"></app-loader>
</div>

<div class="modal fade bs-example-modal-lg" id="raw-tx" tabindex="-1" role="dialog" aria-labelledby="raw-tx-label"
    *ngIf="raw">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-uppercase" id="raw-tx-label">Raw Transaction data</h4>
            </div>
            <div class="modal-body">
                <pre class="no-margin">{{raw | json}}</pre>
            </div>
        </div>
    </div>
</div>