<div class="row no-margin no-padding" id="container-{{id}}" style="display: none">
    <div class="col-md-12" *ngIf="label">
        <h3 class="bold uppercase no-margin text-grey text-center" style="white-space: nowrap">{{label}}</h3>
    </div>
    <div class="col-md-12 row padding-10 no-margin custom-vcenter">
        <div class="col-md-8 col-sm-9 col-xs-12 padding-5" style="font-size: 18px" *ngIf="timeTypes">
            <span *ngFor="let type of timeTypes">
                <a (click)="changeTimeType(type.key)">
                    <i class="far fa-square" *ngIf="!type.selected"></i>
                    <i class="fas fa-check-square warm-cyan" *ngIf="type.selected"></i>
                    {{type.key}}
                </a>
            </span>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 padding-5 text-right" *ngIf="periodOptions">
            <select class="padding-5" (change)="onDropdownChange($event)" [(ngModel)]="filter.endPeriod">
                <option value="{{period.key}}" *ngFor="let period of periodOptions">{{period.key}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 no-padding no-margin">
        <canvas id="{{id}}" height="200px"></canvas>
    </div>
    <div class="col-md-12 text-center no-margin padding-10 stat">
        <span>
            <a (click)="toggleChartType()">
                <i class="far fa-square" *ngIf="!isChartTypeLine()"></i>
                <i class="fas fa-check-square warm-cyan" *ngIf="isChartTypeLine()"></i>
                Line
            </a>
            <a (click)="toggleChartType()">
                <i class="far fa-square" *ngIf="isChartTypeLine()"></i>
                <i class="fas fa-check-square warm-cyan" *ngIf="!isChartTypeLine()"></i>
                Bar
            </a>
        </span>
    </div>
</div>
<app-loader *ngIf="!chartData && showLoader" [title]="label"></app-loader>