<div class="row">
    <h2 class="bold text-grey section-title">NOTIFICATIONS</h2>
    <div class="col-md-12">
        <div class="panel-body" *ngIf="notifications">
            <div class="col-md-12" style="padding: 5px 0" *ngIf="!contractFilter">
                <div class="col-md-3 col-sm-4 col-xs-10 no-padding">
                    <input type="text" class="form-control" placeholder="Contract hash" [(ngModel)]="contract"></div>
                <div class="col-md-9 col-sm-8 col-xs-2">
                    <a class="btn btn-info" (click)="subscribeToContract(contract)">
                        <i class="fas fa-search no-padding"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-12" style="padding: 5px 0" *ngIf="contractFilter">
                <strong style="margin-bottom: 20px; font-size: 1.15em">
                    {{contract}}
                    <a class="btn btn-warning text-center" (click)="unsubscribeToContract(contract)">
                        <i class="fas fa-times no-padding"></i>
                    </a>
                </strong>
            </div>
            <small class="italic">( browse through the 1000 most recent )</small>

            <div class="col-md-12 no-padding no-margin">
                <app-not-list (contractFilter)="subscribeToContract($event)" [notifications]="notifications" [title]="contract"></app-not-list>
            </div>
        </div>
    </div>
    <!-- <div class="row col-md-6">
        <div class="panel-body">
            <app-not-list></app-not-list>
        </div>
    </div> -->
</div>