<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            <ul class="nav nav-pills text-grey">
                <li class="active">
                    <a data-toggle="tab" href="#global" style="padding: 7px 10px">
                        <h5 class="bold text-center no-margin text-grey">GLOBAL</h5>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#nep-5" style="padding: 7px 10px">
                        <h5 class="bold text-center no-margin text-grey">TOKENS</h5>
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 15px">
                <div id="global" class="tab-pane fade in active">
                    <app-asset-list-table [model]="global" [name]="'global'" (emitModelUpdate)="getGlobalPage($event)"></app-asset-list-table>
                </div>
                <div id="nep-5" class="tab-pane fade">
                    <app-asset-list-table [model]="nep" [name]="'nep'" (emitModelUpdate)="getNepPage($event)"></app-asset-list-table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left: 10px">
        <div class="panel-body">
            <app-total-gas-claimed></app-total-gas-claimed>
            <app-horizontal-bar-chart 
                [endpoint]="'assets/tokenchart'" 
                [height]="'120px'"
                [label]="'Tokens'" 
                [title]="'TOP-20 NEP-5 By transactions count'">
            </app-horizontal-bar-chart>
        </div>        
    </div>
</div>