<div class="row">
    <h2 class="bold text-grey section-title">ASSETS</h2>
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="panel-body">
            <app-asset-list-table [pageSize]="16"></app-asset-list-table>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel-body">
            <app-total-gas-claimed></app-total-gas-claimed>
            <app-date-bar-chart [endpoint]="'address/chart'" [label]="'Addresses'"></app-date-bar-chart>
        </div>        
    </div>
</div>