<div class="row col-md-12 no-margin no-padding">
    <h2 class="bold text-grey" style="padding-left: 15px; margin-bottom: 10px">ASSETS</h2>
    <div class="col-md-8 col-sm-8 col-xs-12 row no-margin padding-10">
        <div class="col-md-12 panel-body">
            <app-asset-list [pageSize]="16"></app-asset-list>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 no-margin padding-10">
        <div class="row no-margin padding-10 col-md-12 panel-body">
            <app-total-gas-claimed></app-total-gas-claimed>
            <app-date-bar-chart [endpoint]="'address/chart'" [label]="'Addresses'"></app-date-bar-chart>
        </div>        
    </div>
</div>