<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default" style="margin-bottom: 0">
            <div class="panel-body text-grey" style="padding-top: 20px">
                <div class="col-md-12">
                    <h4 class="text-grey" style="margin-top: 0; font-weight: bold; " [style.margin-bottom]="model.symbol ? 0 : '32px'">
                        {{model.name}}
                        <span *ngIf="model.symbol" class="text-grey" style="margin-top: 0; ">({{model.symbol}})</span>
                    </h4>
                    <h5 class="text-grey" style="margin-bottom: 32px">{{model.hash}}</h5>
                </div>
                <div class="col-md-6" *ngIf="!isLoading">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Total supply
                                </td>
                                <td>
                                    {{model.totalSupply | number}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total addresses
                                </td>
                                <td>
                                    <span *ngIf="totalAddressCount">
                                        {{totalAddressCount | number}}
                                    </span>
                                    <app-loader *ngIf="!totalAddressCount" [iconScale]="1"></app-loader>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Active addresses last month
                                </td>
                                <td>
                                    <span *ngIf="activeAddressesLastMonth || activeAddressesLastMonth >= 0">
                                        {{activeAddressesLastMonth.toString()}}
                                    </span>
                                    <app-loader *ngIf="!activeAddressesLastMonth && activeAddressesLastMonth < 0" [iconScale]="1"></app-loader>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    New addresses last month
                                </td>
                                <td>
                                    <span *ngIf="newAddressesLastMonth">
                                        {{newAddressesLastMonth | number}}
                                    </span>
                                    <app-loader *ngIf="!newAddressesLastMonth" [iconScale]="1"></app-loader>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" *ngIf="!isLoading">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Decimals</td>
                                <td>{{model.decimals | number}}</td>
                            </tr>
                            <tr>
                                <td>Total transactions</td>
                                <td>{{model.transactionsCount | number}}</td>
                            </tr>
                            <tr>
                                <td>Average transacted value</td>
                                <td>{{model.averageTransactedValue | number}}</td>
                            </tr>
                            <tr>
                                <td>Median transacted value</td>
                                <td>{{model.medianTransactedValue | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" *ngIf="isLoading">
                    <app-loader></app-loader>
                </div>
                <div class="col-md-6 text-center" style="margin-top: 40px; margin-bottom: 10px">
                    <div style="max-width: 350px; display: inline-block">
                        <app-date-bar-chart *ngIf="hash" 
                            [endpoint]="'address/assetchart?assetHash=' + hash" 
                            [label]="'Addresses'"
                            [showLoader]="false">
                        </app-date-bar-chart>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="margin-top: 40px; margin-bottom: 10px">
                    <div style="max-width: 350px; display: inline-block">
                        <app-date-bar-chart *ngIf="hash" 
                            [endpoint]="'transactions/assetchart?assetHash=' + hash" 
                            [label]="'Transactions'"
                            [showLoader]="false">
                        </app-date-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default" style="margin-bottom: 0">
            <header class="panel-heading">
                <h2 class="panel-title elipsis">
                    Transactions
                    <span class="bold" style="color: #676a6c !important" 
                        *ngIf="transactions?.metaData && transactions?.metaData.totalItemCount">
                        ({{transactions.metaData.totalItemCount | number}})
                    </span>
                </h2>
            </header>
            <div class="panel-body">
                <app-tx-small-list [model]="transactions" (emitGetPage)="getTransactionsPage($event)"></app-tx-small-list>
            </div>
        </div>
    </div>
</div>